.signUp-bg{
    position: relative;
    background-image: url('https://i.ibb.co/fq6DWhd/Wedding.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center; 
    background-attachment: fixed;
    height: 100vh;
}
.overlay{
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
span{
color: wheat;

}
.input-style {
    border: 1px solid #EEEEEE;
    opacity: 60px;
    color: white;
    background-color: transparent;
    border-radius: 4px;
}
.input-style:hover{
    box-shadow: 2px 2px 5px 2px #f53f7c46;
}