.pagination{
    text-align: center;
    margin-top: 20px;
   
}
.pagination button{
    margin-right: 10px;
    color: black;
    padding: 10px;
    border-radius: 5px;
}
.pagination .selected{
    background-color:pink ;
}
.pagination .new{
    background-color:orange ;
    color: black;
}

.pagination select{
    padding: 10px;
    border-radius: 5px;

}